---
interface Props {
  class?: string;
}

const { class: className = "" } = Astro.props;
---

<svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  viewBox="1795.6866455078125 357.155517578125 1881.1627197265625 919.4586181640625"
  width="757"
  height="370"
  class={className}
  ><defs
    ><style>
      .cls-1,
      .cls-2,
      .cls-5 {
        fill: none;
      }
      .cls-2,
      .cls-5 {
        stroke: #00252c;
        stroke-miterlimit: 10;
      }
      .cls-2 {
        stroke-width: 4px;
      }
      .cls-3 {
        clip-path: url(#clip-path);
      }
      .cls-4 {
        clip-path: url(#clip-path-2);
      }
      .cls-5 {
        stroke-width: 3px;
      }
      .cls-6 {
        clip-path: url(#clip-path-3);
      }
    </style><clipPath id="clip-path" transform="translate(-217.45)"
      ><rect
        class="cls-1"
        x="1032.21"
        y="422.18"
        width="2915.12"
        height="1266.77"
        transform="translate(-89.83 243.89) rotate(-5.51)"></rect></clipPath
    ><clipPath id="clip-path-2" transform="translate(-217.45)"
      ><rect
        class="cls-1"
        x="66.03"
        y="247.66"
        width="4893.91"
        height="1611.02"
        transform="translate(-89.5 246.11) rotate(-5.51)"></rect></clipPath
    ><clipPath id="clip-path-3" transform="translate(-217.45)"
      ><path
        class="cls-2"
        d="M2332,1142.54c-123.69,37.89-96.81,28.16-322.57,76.65-69.2,14.86-105.32,21.4-123.73,23.16-8.48.9-13.14.45-14.55.14l-.7-1.7c-4-8.7-14.72-15.93-43.61-16.65-32.34-1.47-65.64.22-101.94,3.72-60.67,5.85-129.79,16.78-217.32,27-141.56,16.5-205.37,55.72-206.43,56.38h0l9.69,16,0,0h0s14.47-9,47-20.54,82.48-25.11,151.92-33.2c87.91-10.25,157.12-21.19,216.94-27,35.8-3.46,68.22-5.06,99.35-3.65,29.37,2,27,5.48,27.86,6.36.47,1.14,3.09,7.85,9.69,10.4,6.1,2.39,12.48,2.37,23.9,1.38,20.18-2,56.35-8.58,125.82-23.49,224.89-48.28,200.09-39,324.09-77,101.06-31,115.49-43.39,162.2-47.79,11.15-1.07,24.3-1.73,41-2.08,87.84-1.84,289.56.66,435.53-9,145.29-9.62,286.24-15.65,348.82-18.43,54.15-2.39,127.18-7,188.72-12.91,9.78-1,19.28-1.92,28.35-2.93,66.21-7.36,244.69-31.37,282.5-37.41l-2.94-18.56c-37,5.92-216,30-281.62,37.3-9,1-18.39,2-28.09,2.9-61.08,5.89-133.92,10.47-187.77,12.85-62.57,2.77-203.67,8.81-349.22,18.45-144.87,9.6-346.27,7.12-434.71,9-16.93.36-30.51,1-42.32,2.16-50.93,5-66.34,18.09-165.81,48.52"
      ></path></clipPath
    ></defs
  ><title>arboles</title><g id="Capa_2" data-name="Capa 2"
    ><g id="Capa_7" data-name="Capa 7"
      ><g class="cls-3"
        ><g class="cls-4"
          ><path
            class="cls-5"
            d="M3244.89,827.77c6.63,2.23,11.49,3.74,16.26,5.5,6.47,2.38,6.21,6.65,3.63,12.15-4.66,9.94-8.85,20.11-12.14,27.66,1.09,7,3.37,12.31,2.41,16.95-4.39,21.19-9,42.4-15,63.14a48.11,48.11,0,0,1-13.44,21c-14.87,13.54-25.35,27.45-20.1,49.72,3.1,13.18,2.87,27.2,3.77,40.87.45,6.71,3,16.4-6.38,17.32s-13.18-7.43-13.93-16.65c-1.33-16.38-3-32.74-4.62-49.1-2.15-21.8-6.29-26.78-26.68-32.43-12.5-3.47-23.3-23.81-18.39-36.1,4.77-12,6.31-21.62-6.42-30.49-5.61-3.91-7.88-12.76-12.62-21l16.63-1.61c-1.14-3.19-1.39-6-2.88-7.69-5.38-6.13-5.93-12.1-1.3-18.92,1.44-2.12,3.07-6.35,2.1-7.57-11.2-14,1-36.74-18.77-48.29-8.64-5-5.24-23.54,4.78-32.7,2.31,10.1,8.64,14.93,18.31,13,2.16-.44,5.62-5.44,5-6.77-5.35-12-4-27.33-21.44-33.31-7-2.38-10.61-16-14.61-25.08-.82-1.86,2.77-7.31,5.56-8.89,6.46-3.67,13.67-6,21.06-9-.47-4.9-3.47-12.57-1-15.36,5.66-6.47,13.76-10.89,21.28-15.44,2.14-1.3,6.4-1.34,8.48,0,9.58,6.11,15.19-1.22,17.15-7.36,1.65-5.19-.53-14.84-4.5-17.95-6.81-5.33-5.21-7.78-1.78-13.93,5.31-9.5,8.42-20.23,12.82-30.29,2.63-6,5-12.48,9.11-17.43,6.68-8.13,14.09-5.09,21.63,3,1-4,1.88-6.28,2-8.62.19-2.67-1.5-6.48-.26-7.92,9.09-10.54,3.78-23.85,7.06-35.51,2.65-9.41,8.62-15.34,18.37-13.77,10.55,1.69,15.83-5.22,17.26-13.1,1.27-7,4.17-8.88,9.8-10.6,7.23-2.2,14.16-5.35,18-6.86.51-11.23.62-19.3,1.46-27.28.18-1.72,2.93-4.36,4.66-4.49,16.31-1.23,22-14.72,28.19-26.22,8.86-16.63,20.89-25.23,39.81-23.33,2.44.24,5.18-.87,7.54-1.91,8.46-3.74,16.7-8,25.36-11.2,1.06-.39,5.61,4.57,5.94,7.36.73,6.21-.06,12.63-.49,18.94-.15,2.19-.49,4.81-1.76,6.41-7.24,9.09-13.86,19.05-22.54,26.51-6.94,6-8.25,9.54-2.2,13.46-1,7.36-1.73,13.22-2.64,19.05-2.16,13.84-13,21.55-21.49,30.85-10.74,11.72-26.77,11.75-39.8,18.38-5.87,3-11.42,6.63-17.11,10l2.49,4.86,15.89-5.81c-.38,9-.73,17.19-1.11,26l10.85,3.65c-5.19,18.45-13.87,34.11-29,45.91-12.57,9.8-14.07,13.45-11.82,31.27,3.64-4,6-7.14,8.81-9.6,1.82-1.57,4.44-2.2,6.7-3.25.56,2.39,2.24,5.27,1.49,7.1-4.83,11.7-10.16,23.18-15.42,34.7-.95,2.1-2.86,3.87-3.41,6-5,19.72-4.92,19.73-17.71,35.73,11.7,10.37,4,18.34-3.4,26.89a26.86,26.86,0,0,0-5.63,12c-3.68,18.87-6.8,37.84-10.08,56.79C3244.61,827.68,3245.06,828.45,3244.89,827.77Zm58.62-231.17-4.53-4.94-11.62,11.4,3.49,4Z"
            transform="translate(-217.45)"></path><path
            class="cls-5"
            d="M3419.57,574.09c-6.81-13.57,9.68-22.24,4.4-35.92-2-5.08,2.47-13.13,5-19.42,2.85-7.17,6.82-12.58,16.58-9.37,8.88,2.92,15.7-4.59,16.31-11,1-10.31,7.16-11.39,14-13.75,5.76-2,11.3-4.57,14.65-5.94.46-10.19.59-18.27,1.39-26.29.18-1.84,2.55-4.81,4.1-4.94,15.76-1.24,21.55-14.14,27.69-25.33,9.31-17,21.25-27.19,41.56-24.16,2.28.34,5-1.47,7.35-2.54,8.44-3.78,16.73-8,25.39-11.09,1-.36,6.12,5.35,5.72,7.57-1.21,6.64-5.91,12.74-.34,19.76.65.82-1.8,4.75-3.42,6.72-9.08,11-18.35,21.78-28.08,33.26l4.36,5.57c-1.15,7.39-.79,13.46-3.11,18.16-4.5,9.1-9.6,18.24-16.13,25.9-7.66,9-15.89,17.28-29.63,18.14-8.2.52-16.29,5.71-24,9.68-3.2,1.66-5.24,5.6-7.81,8.5l2,3,15.65-6.06c-.41,9.08-.76,17-1.16,25.82l11.15,3.82c-5.71,18.27-13.72,34.34-29.32,46-12.82,9.6-14.55,15-10.82,29.53l13.67-12.33,4.11,2.63c-9.7,28.53-18.51,57.45-37.83,82.88,10.26,8.15,4.63,15.74-1.74,24-3.56,4.62-8.06,10.85-7.57,15.91,1.81,19-7.13,35.53-9.93,53.37-.17,1.13-.16,2.3-.32,4.61a63.89,63.89,0,0,1,6.44-.59c11.84.09,17.17,8,12.54,18.67-4.21,9.69-8.59,19.3-11.28,25.31,1.51,7.39,3.83,12,3,15.85-4.57,21.54-9.27,43.1-15.32,64.24a43.58,43.58,0,0,1-12.71,20.14c-16.15,13.82-26,28.69-20.67,51.69,3.17,13.57,3.51,28,3.65,42,.05,5.07-4.2,10.17-6.48,15.25-4.49-4.59-12-8.64-12.91-13.87-3.16-17.66-3.91-35.75-5.73-53.66-2.1-20.65-6.53-25.77-26.61-31.31-12.37-3.42-23.31-24-18.31-36.06s6.05-21.54-6.53-30.38c-5.58-3.92-7.76-12.83-12.38-21.07l16.37-1.58c-.87-2.78-.95-5.28-2.22-6.68-6.09-6.7-6.59-13.38-1.5-20.92,1.41-2.08,2.76-6.41,1.74-7.6-7.61-8.89-4.76-19.41-6.12-29.4-.72-5.32-6.28-10.34-10.41-14.77-9.41-10.09-9-25.14,2.51-35.85,2.16,10.13,8.48,14.84,18,13.09,2.26-.42,5.74-4.55,5.48-6.56-.84-6.48-3-12.81-5-19.11-.67-2.18-1.8-5.64-3.24-5.94-15.85-3.28-16.56-19.82-25.46-29-5.79-6-2.61-10.37,2.34-13.2,6.47-3.7,13.73-6,21.72-9.33-.32.65.5-.27.29-.69-4.88-10.12-2.22-17.36,7.32-23,7.8-4.66,14.09-11.57,25-6,2.63,1.35,12.44-4.71,13.42-8.75,1.31-5.43-.92-14.29-4.94-17.89-5.64-5.06-5.46-7.32-1.8-13.13,6.25-9.92,14.57-18.84,14.18-32.38-.15-5.1,4.26-10.82,7.69-15.42C3403,563,3410.71,568.48,3419.57,574.09Zm82.72,3.29-4.61-4.81-11.58,11.75,3.71,4Z"
            transform="translate(-217.45)"></path><path
            class="cls-5"
            d="M3525,857l17.12-1.65c-.94-2.76-1.13-5.24-2.42-6.77-5.35-6.36-6.57-12.68-1.6-19.87,1.26-1.82,2.72-5.42,1.9-6.49-10.87-14.24,1.16-36.6-18.21-48.54-9.58-5.91-6.33-24.48,4.52-33,1.62,11.12,9.21,13.92,18.4,13,1.91-.19,5.37-5.16,4.82-6.26-5.82-11.69-2.4-29.56-21.15-33-1.86-.35-3.1-4.93-4.36-7.67-1.13-2.47-1.73-5.2-2.84-7.68-2.31-5.13-7.54-14.11-6.78-14.64,6.59-4.7,14.22-7.9,21.57-11.5a29.18,29.18,0,0,1,3.69-1.17c.16-1.43.91-3.15.4-4.34-2.3-5.44-6-11.45,1-15.45,8.62-4.94,19.12-13.51,26.72-11.66,10.81,2.65,15.95-1.92,18.17-8.39,1.7-5-.92-14.59-5-17.81-6.91-5.49-4.88-8-1.34-14,5.57-9.32,13.93-17.17,13.3-30.22-.28-6,4.57-14.62,9.67-17.68,5.26-3.16,13.64-1,21.65-1.18-6.71-10,9.56-17.85,5.37-31.61-2.24-7.35,4.42-17.94,8.39-26.44,1.08-2.33,7-3.5,10.59-3.27,10.23.64,16.74-4,19.78-13.33,1.25-3.84,5-7.66,8.56-9.74,5.28-3,11.48-4.47,17.23-6.75a5.2,5.2,0,0,0,2.12-1.48c.15-9.67,0-17.8.62-25.89.12-1.78,2.62-4.72,4.21-4.84,15.59-1.21,22-13.51,27.8-24.91,8.92-17.5,21.1-27.2,41.25-24.6,2,.27,4.4-.85,6.43-1.76,8.41-3.78,16.65-8,25.26-11.23,1.1-.4,5.52,4,5.8,6.47.77,6.69.25,13.56,0,20.35a9.54,9.54,0,0,1-1.59,5.38c-7.3,9-14,18.81-22.55,26.52-6.43,5.83-8.76,9.57-2.36,13.65-1,7.39-1.68,13.25-2.54,19.09-2,13.93-13.16,21.36-21.57,30.71-10.67,11.84-26.74,11.76-39.82,18.28-5.85,2.93-11.29,6.71-16.92,10.1l2.4,5,14-5.11c7.62,8.13-9.5,24.49,11.69,28.73-5.65,18.05-13.53,34.17-28.9,45.89-13.21,10.07-15.15,15.21-11.22,31.15,3.55-4.12,6.17-7.72,9.39-10.62,1.34-1.21,4.11-1.52,6-1.08.82.2,1.73,3.53,1.28,5-2.54,8.51-4.49,17.43-8.54,25.19-4.75,9.08-10.68,16.56-11.89,28.09-.92,8.72-10.29,16.51-16.32,25.34,10.83,7.73,4.63,15-1.06,23.07-3.83,5.4-7.47,11.62-8.85,18-3.81,17.64-6.4,35.55-9.44,53.36a18.73,18.73,0,0,0,.3,3.36,53.31,53.31,0,0,1,6.27-.57c11.94.31,16.78,7.87,12.06,18.81-4.05,9.37-8.22,18.68-11.57,26.28,1.39,5.62,4.27,10.62,3.4,14.8-4.49,21.55-9.33,43.08-15.41,64.21-2.13,7.43-6.82,15.28-12.61,20.22-16.2,13.83-25.91,28.76-20.54,51.71,3.18,13.57,3.48,28,3.56,42,0,5-4.4,10-6.79,15-4.24-4.42-11.33-8.35-12.2-13.37-3.05-17.68-3.86-35.75-5.7-53.65-2.16-20.93-6.36-25.87-26.24-31.61-13.26-3.83-23.79-24.06-18.55-36.89,4.74-11.61,5.67-20.86-6.44-29.41C3532.67,874.6,3530.24,865.9,3525,857Zm166.28-293,4.11,4.62,12.31-11.27-4-4.52Z"
            transform="translate(-217.45)"></path></g
        ></g
      ><g class="cls-6"
        ><rect
          class="cls-2"
          x="285.66"
          y="233.37"
          width="4893.91"
          height="1611.02"
          transform="translate(-304.56 267.13) rotate(-5.51)"></rect></g
      ><path
        class="cls-2"
        d="M2332,1142.54c-123.69,37.89-96.81,28.16-322.57,76.65-69.2,14.86-105.32,21.4-123.73,23.16-8.48.9-13.14.45-14.55.14l-.7-1.7c-4-8.7-14.72-15.93-43.61-16.65-32.34-1.47-65.64.22-101.94,3.72-60.67,5.85-129.79,16.78-217.32,27-141.56,16.5-205.37,55.72-206.43,56.38h0l9.69,16,0,0h0s14.47-9,47-20.54,82.48-25.11,151.92-33.2c87.91-10.25,157.12-21.19,216.94-27,35.8-3.46,68.22-5.06,99.35-3.65,29.37,2,27,5.48,27.86,6.36.47,1.14,3.09,7.85,9.69,10.4,6.1,2.39,12.48,2.37,23.9,1.38,20.18-2,56.35-8.58,125.82-23.49,224.89-48.28,200.09-39,324.09-77,101.06-31,115.49-43.39,162.2-47.79,11.15-1.07,24.3-1.73,41-2.08,87.84-1.84,289.56.66,435.53-9,145.29-9.62,286.24-15.65,348.82-18.43,54.15-2.39,127.18-7,188.72-12.91,9.78-1,19.28-1.92,28.35-2.93,66.21-7.36,244.69-31.37,282.5-37.41l-2.94-18.56c-37,5.92-216,30-281.62,37.3-9,1-18.39,2-28.09,2.9-61.08,5.89-133.92,10.47-187.77,12.85-62.57,2.77-203.67,8.81-349.22,18.45-144.87,9.6-346.27,7.12-434.71,9-16.93.36-30.51,1-42.32,2.16-50.93,5-66.34,18.09-165.81,48.52"
        transform="translate(-217.45)"></path></g
    ></g
  ></svg
>
