# Dependencies
node_modules/

# Logs
logs/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.*
*.local

# macOS-specific files
.DS_Store

# IDE and Editor-specific folders
.idea/
.vscode/
*.tsbuildinfo

# Other
*.pem
/coverage


# ===================================================================
# Astro App (in /astro)
# ===================================================================

# Build output
astro/dist/

# Generated types
astro/.astro/

astro/faunakite-c907b0d17db7.json


# ===================================================================
# Sanity Studio App (in /studio-faunakite)
# ===================================================================

# Dependencies (specific to yarn PnP if used)
studio-faunakite/.pnp
studio-faunakite/.pnp.js

# Compiled Sanity Studio
studio-faunakite/dist

# Temporary Sanity runtime
studio-faunakite/.sanity
