---
import Layout from "../../../layouts/Layout.astro";
import type { Booking } from "../../../modules/booking/booking.entity";
import { getBookingById } from "../../../modules/booking/use-cases/find-booking-by-id";
import BookingNotFound from "../../../components/verify/booking-not-found.astro";
import VerificationCard from "../../../components/verify/verification-card.astro";

export const prerender = false;

const { bookingId } = Astro.params;

let booking: Booking | null = null;
if (bookingId) {
  booking = await getBookingById(bookingId);
}
---

<Layout title="Verificar Alumno">
  <div class="bg-brand-blue min-h-dvh">
    <div class="mx-auto max-w-3xl px-4 py-12 sm:px-6 lg:px-8">
      {
        booking ? (
          <VerificationCard
            studentName={booking.customerName}
            startDate={booking.arrivalDate}
            expiryDate={booking.departureDate}
          />
        ) : (
          <BookingNotFound bookingId={bookingId} />
        )
      }
    </div>
  </div>
</Layout>
