---
import { Icon } from "astro-icon/components";
import { useTranslations } from "../../i18n/utils";
import { Image } from "astro:assets";
import logo from "../../assets/logos/logo-blanco-03.png";

interface Props {
  bookingId?: string;
}

const { bookingId } = Astro.props;

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<div>
  <div class="py-10 flex justify-center">
    <div
      class="relative w-full max-w-[150px] aspect-[3.45/1] flex items-center justify-center"
    >
      <Image decoding="async" src={logo} alt="Logo FaunaKite white" />
    </div>
  </div>
  <div
    class="flex flex-col items-center justify-center rounded-4xl bg-white p-12 text-center shadow-sm"
  >
    <Icon name="zoom-out" class="text-brand-blue/50 size-12" />
    <h3 class="mt-2 text-lg font-bold text-gray-900">
      {t("booking-not-found.title")}
    </h3>
    <p class="mt-1 text-sm text-gray-500">
      {t("booking-not-found.subtitle")}
    </p>
    {
      bookingId && (
        <p class="mt-4 font-mono text-xs text-gray-400">{bookingId}</p>
      )
    }
  </div>
</div>
