---
import { Icon } from "astro-icon/components";
import { useTranslations } from "../../i18n/utils";

interface Props {
  bookingId?: string;
}

const { bookingId } = Astro.props;

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<div>
  <div class="flex justify-center pb-10">
    <span class="font-salted text-4xl text-white">FAUNA KITE</span>
  </div>
  <div
    class="flex flex-col items-center justify-center rounded-4xl bg-white p-12 text-center shadow-sm"
  >
    <Icon name="zoom-out" class="text-brand-blue/50 size-12" />
    <h3 class="mt-2 text-lg font-bold text-gray-900">
      {t("booking-not-found.title")}
    </h3>
    <p class="mt-1 text-sm text-gray-500">
      {t("booking-not-found.subtitle")}
    </p>
    {
      bookingId && (
        <p class="mt-4 font-mono text-xs text-gray-400">{bookingId}</p>
      )
    }
  </div>
</div>
