---
export const prerender = false;

import { actions, isInputError } from "astro:actions";
import Layout from "../../layouts/Layout.astro";
import {
  CourseType,
  DetailedSkillLevel,
  Gender,
  ReferralSource,
  SkillLevel,
} from "../../modules/booking/booking.entity";
import { useTranslations, useEnumTranslations } from "../../i18n/utils";
import { Image } from "astro:assets";
import logo from "../../assets/logos/logo-blanco-03.png";
import { BookingForm } from "../../components/booking/booking-form";

const siteUrl = Astro.url.origin; // "http://localhost:4321"
const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<Layout>
  <Fragment slot="head">
    <link rel="preconnect" href="https://challenges.cloudflare.com" />
  </Fragment>

  <main class="bg-brand-blue min-h-dvh">
    <div class="text-center py-10 space-y-2">
      <h1 class="text-xl mb-0">{t("booked.title")}</h1>
      <div class="flex justify-center">
        <div
          class="relative w-full max-w-[150px] aspect-[3.45/1] flex items-center justify-center"
        >
          <Image decoding="async" src={logo} alt="Logo FaunaKite white" />
        </div>
      </div>
    </div>

    <div class="pb-10 px-4">
      <BookingForm client:load lang={lang} />
    </div>
  </main>
</Layout>
