---
import Hero from "../../components/hero.astro";
import Nav from "../../components/nav.astro";
import Services from "../../components/services.astro";
import Layout from "../../layouts/Layout.astro";
import News from "../../components/news.astro";
import Footer from "../../components/footer.astro";
import FooterSeparator from "../../components/svg/footer-separator.astro";
import AboutUs from "../../components/about-us.astro";
import ProductsCarousel from "../../components/products-carousel.astro";
import Newsletter from "../../components/newsletter.astro";
import TheSpot from "../../components/the-spot.astro";
import Community from "../../components/community.astro";
import Testimonials from "../../components/testimonials.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}
---

<Layout>
  <header>
    <Nav />
  </header>

  <main>
    <Hero />
    <Services />
    <AboutUs />
    <TheSpot />
    <Testimonials />
    <ProductsCarousel />
    <Newsletter />
    <News />

    <!-- <Community /> -->
  </main>

  <div class="text-brand-blue">
    <FooterSeparator />
  </div>
  <Footer />
</Layout>
