---
import { createUrlQr } from "../../modules/booking/qr-code";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const qrBuffer = await createUrlQr(
  "http://localhost:4321/es/verify/8f2705cb-6e98-4dae-b0bb-594624c86a04"
);
const qrBase64 = qrBuffer.toString("base64");
const qrDataUri = `data:image/png;base64,${qrBase64}`;
---

<Layout>
  <main class="">
    <div class="text-center py-10 space-y-2">
      <span class="block font-salted text-4xl text-white">FAUNA KITE</span>
      <h1 class="text-2xl">QR CODE</h1>
    </div>

    <div class="py-10">
      <div class="grid md:grid-cols-2 gap-10">
        <div
          class="relative rounded-4xl h-full w-full bg-white text-brand-blue"
        >
          <div class="absolute w-full h-full block text-brand-green">
            <!-- here the qr code -->
            <img
              src={qrDataUri}
              alt="QR Code for booking verification"
              class="max-w-full h-auto"
            />
          </div>
        </div>
      </div>
    </div>
  </main></Layout
>
