---
import Nav from "../../../components/nav.astro";
import Services from "../../../components/services.astro";
import Layout from "../../../layouts/Layout.astro";
import News from "../../../components/news.astro";
import Footer from "../../../components/footer.astro";
import FooterTopSeparator from "../../../components/svg/footer-top-separator.astro";
import AboutUs from "../../../components/about-us.astro";
import Store from "../../../components/store.astro";
import Newsletter from "../../../components/newsletter.astro";
import TheSpot from "../../../components/the-spot.astro";
import Testimonials from "../../../components/testimonials.astro";
import Community from "../../../components/community.astro";
import HeroImage from "../../../components/heros/hero-image.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}
---

<Layout>
  <header>
    <Nav />
  </header>

  <main>
    <HeroImage />
    <Services />
    <AboutUs />
    <TheSpot />
    <News />
    <Testimonials />
    <Newsletter />
    <Store />
    <Community />
  </main>

  <div class="relative z-10 text-brand-blue bg-celeste-2">
    <FooterTopSeparator />
  </div>
  <Footer />
</Layout>
