---
import { Image } from "astro:assets";
import aboutUsImage from "../assets/about-us-photo.webp";
import { useTranslations } from "../i18n/utils";
import Trees from "./svg/trees.astro";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<section class="relative z-10">
  <div class="hidden md:block absolute z-10 -left-10 -bottom-[100px] w-full">
    <Trees />
  </div>

  <div class="relative z-20 py-20">
    <div class="relative max-w-6xl mx-auto px-4 lg:px-10">
      <h2
        class="text-left z-40 pt-10 md:pl-10 uppercase text-brand-red text-5xl pb-10 font-salted"
      >
        {t("about-us.title")}
      </h2>

      <div class="grid md:grid-cols-3 place-items-center gap-8">
        <div class="md:hidden">
          <Image
            src={aboutUsImage}
            alt="About us image"
            class="w-full h-full object-contain relative z-40"
            fetchpriority="auto"
          />
        </div>

        <div class="space-y-4 md:col-span-2">
          <p
            class="text-lg md:text-xl leading-relaxed text-pretty text-brand-blue p-4"
          >
            {t("about-us.summary")}
          </p>
        </div>
      </div>

      <div class="flex justify-center pt-10">
        <a
          href={`/${lang}/about-us`}
          class="text-white font-bold px-6 py-2 bg-brand-red rounded-4xl"
        >
          {t("about-us.button")}
        </a>
      </div>
    </div>
  </div>
</section>
