---
import { Image } from "astro:assets";
import communityPhoto from "../assets/community-photo.webp";
import FooterSeparator from "./svg/footer-separator.astro";
import { useTranslations } from "../i18n/utils";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<section>
  <div class="text-celeste-2">
    <FooterSeparator />
  </div>

  <div class="relative w-full bg-celeste-2">
    <div class="hidden lg:block absolute left-0 z-10 -bottom-[50px]">
      <div class="lg:size-[400px] xl:size-[500px] 2xl:size-[600px]">
        <Image
          src={communityPhoto}
          alt="community"
          class="w-full h-full object-cover"
        />
      </div>
    </div>

    <div class="flex md:justify-end max-w-5xl mx-auto pt-10">
      <h2 class="font-salted text-white uppercase text-4xl md:text-5xl px-10">
        {t("community.title")}
      </h2>
    </div>

    <div class="w-full grid md:grid-cols-3 place-items-center py-10">
      <div
        class="text-lg md:text-xl text-white px-4 lg:px-10 col-start-2 max-w-3xl col-span-2 space-y-4"
      >
        <p>
          {t("community.paragraph.1")}
        </p>
        <p>
          {t("community.paragraph.2")}
        </p>
      </div>
      <div></div>
      <div></div>
    </div>
  </div>
</section>
