---
import { Image } from "astro:assets";
import destinoSanJuan from "../assets/destino-san-juan.jpeg";
---

<section class="bg-brand-green py-6">
  <div class="w-full">
    <div class="relative">
      <Image
        src={destinoSanJuan}
        alt="Cuesta del Viento"
        class="w-full h-full object-cover"
        fetchpriority="auto"
      />

      <div class="absolute left-4 bottom-4 md:left-14 md:bottom-14 z-10">
        <div class="flex items-end gap-14 font-salted">
          <h2 class="uppercase text-lg md:text-6xl">
            <span>Cuesta del Viento,</span>
            <span class="flex justify-end">San Juan</span>
          </h2>
          <span class="text-2xl md:text-4xl uppercase">Suramerica</span>
        </div>
      </div>
    </div>
  </div>
</section>
