---
import { useTranslations } from "../i18n/utils";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<section class="relative h-dvh w-full flex items-center bg-brand-blue">
  <!-- <div class="absolute h-dvh inset-0 z-20 flex justify-end">
    <div class="relative w-full md:w-1/2 h-full">
      <video
        poster="/logos/logo-blanco-square.png"
        autoplay
        loop
        muted
        playsinline
        class="absolute inset-0 w-full h-full object-cover"
      >
        <source src="/videos/about.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
      {/* Gradient overlay for better text readability */}
      <div
        class="absolute inset-0 bg-linear-to-r from-brand-blue via-brand-blue/50 to-transparent md:from-brand-blue md:via-brand-blue/50 md:to-brand-blue/30"
      >
      </div>
    </div>
  </div> -->

  <div
    class="relative min-h-screen flex items-center justify-center gap-20 w-full"
  >
    <div class="space-y-4 flex flex-col justify-center items-center">
      <div class="max-w-2xl mx-auto">
        <h1
          class="font-bold text-4xl sm:text-5xl md:text-6xl tracking-tight text-balance font-helvetica"
        >
          <!-- {t("hero.title")} -->
          <span class="block"> MÁS QUE UNA ESCUELA </span>
          <span class="text-brand-red block"> UNA COMUNIDAD DE VIENTOS</span>
        </h1>
      </div>

      <p
        class="text-lg sm:text-xl text-white/95 max-w-2xl text-pretty leading-relaxed"
      >
        {t("hero.subtitle")}
      </p>
    </div>

    <div
      class="relative flex items-center justify-center py-24 lg:py-0 order-1 lg:order-2"
    >
      {/* Background Glow */}
      <div
        class="absolute inset-0 flex items-center justify-center pointer-events-none"
      >
        <div
          class="w-[400px] h-[600px] bg-brand-red/20 blur-[100px] rounded-full"
        >
        </div>
      </div>

      {/* Video Container */}
      <div
        class="relative w-[280px] sm:w-[320px] md:w-[360px] aspect-9/16 rounded-2xl overflow-hidden ring-[6px] ring-brand-red/10"
      >
        <video
          poster="/logos/logo-blanco-square.png"
          autoplay
          loop
          muted
          playsinline
          class="absolute inset-0 w-full h-full object-cover"
        >
          <source src="/videos/about.webm" type="video/webm" />
          Your browser does not support the video tag.
        </video>
      </div>
    </div>
  </div>
</section>
