---
import BrushStain from "../components/svg/newsletter-background.astro";
import { useTranslations } from "../i18n/utils";
import { actions } from "astro:actions";
import { isInputError } from "astro:actions";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const result = Astro.getActionResult(actions.newsletter.subscribe);
const inputErrors = isInputError(result?.error) ? result.error.fields : {};

const TURNSTILE_NEWSLETTER_SITE_KEY = "0x4AAAAAACEmwzYSGa4EHMA4";
---

<div class="py-10">
  <section class="relative z-10 max-w-7xl mx-auto py-10">
    <div class="absolute inset-0 pointer-events-none z-0" aria-hidden="true">
      <BrushStain class="w-full h-full text-celeste-2" />
    </div>

    <div class="relative z-10 max-w-2xl mx-auto">
      <h2 class="uppercase font-salted text-5xl text-center">
        {t("newsletter.title")}
      </h2>

      <div
        class="px-4 max-w-2xl mx-auto flex gap-y-6 flex-col items-center pt-4 text-lg"
      >
        <p class="text-center text-pretty">
          {t("newsletter.subtitle")}
        </p>

        <form
          id="newsletter-form"
          class="flex items-center gap-2 md:gap-4 w-full"
        >
          <input
            type="email"
            placeholder="Escriba su email"
            required
            name="email"
            class="w-full rounded-xl bg-white/95 border-white h-10 text-base text-brand-blue px-4 tracking-wide focus:border-brand-green focus:ring-brand-green"
          />

          <div
            class="cf-turnstile"
            data-sitekey={TURNSTILE_NEWSLETTER_SITE_KEY}
          >
          </div>

          <button
            type="submit"
            class="py-2 px-6 cursor-pointer rounded-xl bg-brand-blue font-bold text-white"
          >
            {t("newsletter.button")}
          </button>
        </form>

        <dialog
          id="newsletter-dialog"
          class="rounded-lg shadow-xl backdrop:bg-black backdrop:opacity-50 p-0 border-0 max-w-lg w-full fixed left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
        >
          <div class="p-6">
            <div class="flex justify-center text-2xl">
              <span class="font-salted pr-2"> FAUNA KITE</span>
            </div>
            <div class="flex pb-4 justify-center text-4xl">
              <span class="font-bold">NEWSLETTER</span>
            </div>

            <div class="flex items-center gap-4">
              <div
                id="dialog-icon"
                class="shrink-0 w-10 h-10 rounded-full flex items-center justify-center"
              >
                <!-- Icon will be injected via JS -->
              </div>
              <div class="space-y-2">
                <h3
                  id="dialog-title"
                  class="text-lg font-semibold text-gray-900"
                >
                </h3>
                <p id="dialog-message" class="text-gray-600"></p>
              </div>
            </div>
            <div class="mt-4 flex justify-end">
              <button
                id="dialog-close"
                class="px-6 py-2 bg-brand-blue text-white font-bold rounded-lg hover:brand-blue/80 focus:outline-none transition-colors"
              >
                Cerrar
              </button>
            </div>
          </div>
        </dialog>
      </div>
    </div>
  </section>
</div>

<script src="https://challenges.cloudflare.com/turnstile/v0/api.js" async defer
></script>

<script>
  const form = document.getElementById("newsletter-form");
  if (form) {
    import("../../src/scripts/newsletter-form-handler").then(
      ({ initNewsletter }) => {
        initNewsletter();
      }
    );
  }
</script>
