---
import NewsCard from "../components/news-card.astro";
import { getLatestNews } from "../modules/news/utils";
import type { News } from "../modules/news/utils";
import Cactuses from "./svg/cactuses.astro";
import AboutUsUnderSeparator from "./svg/about-us-under-separator.astro";

const lang = Astro.params.locale as "en" | "es";

const posts: News[] = await getLatestNews(lang);
---

<section>
  <div class="bg-brand-red pb-10">
    <div class="relative max-w-7xl mx-auto space-y-8 py-10 lg:px-10 px-4">
      <div
        class="hidden md:block absolute lg:right-4 xl:-right-10 -bottom-10 w-[110px] h-[60px] z-30 text-white"
      >
        <Cactuses />
      </div>

      <div class="flex justify-center md:justify-end md:pr-20">
        <h2
          class="uppercase flex flex-col items-center font-salted px-10 text-WHITE"
        >
          <span class="text-5xl lg:text-6xl">Fauna News</span>
        </h2>
      </div>

      <div class="grid md:grid-cols-3 grid-rows-1 gap-10 px-4">
        {
          posts.length >= 0 &&
            posts.map((post) => (
              <div>
                <NewsCard post={post} />
              </div>
            ))
        }
      </div>
    </div>
  </div>

  <div class="text-brand-red">
    <AboutUsUnderSeparator />
  </div>
</section>
