---
import { Image } from "astro:assets";
import Card from "../components/news-card.astro";
import { getLatestNews } from "../modules/news/utils";
import type { News } from "../modules/news/utils";

const posts: News[] = await getLatestNews();
---

<section class="pb-20">
  <div class="relative max-w-7xl mx-auto space-y-8 py-10">
    <div class="absolute left-10 top-0 z-20">
      <svg
        class="w-full max-w-2xl mx-auto"
        viewBox="50 -200 250 100"
        xmlns="http://www.w3.org/2000/svg"
      >
        <!-- Define the invisible path -->
        <defs>
          <path id="arcPath" d="M 1 -1 Q 214 -327 341 -2"></path>
        </defs>

        <!-- Text that follows the path -->
        <text
          font-size="24"
          fill="currentColor"
          font-weight="600"
          letter-spacing="2"
        >
          <textPath
            href="#arcPath"
            startOffset="50%"
            text-anchor="middle"
            class="font-salted text-brand-blue"
          >
            CUESTA DEL VIENTO
          </textPath>
        </text>
      </svg>
    </div>

    <div class="flex justify-end pr-20">
      <h2
        class="uppercase flex flex-col items-center font-salted px-10 text-brand-red"
      >
        <span class="text-6xl">Fauna News</span>
      </h2>
    </div>

    <div class="grid md:grid-cols-3 grid-rows-1 gap-10">
      {
        posts.length >= 3 &&
          posts.map((post) => (
            <div>
              <Card post={post} />
            </div>
          ))
      }
    </div>

    <div class="absolute -right-30 -bottom-10 z-20">
      <svg
        class="w-full max-w-2xl mx-auto"
        viewBox="200 -100 350 300"
        xmlns="http://www.w3.org/2000/svg"
      >
        <!-- Define the invisible path -->
        <defs>
          <path id="arcDondeSiempreSopla" d="M 1 -1 Q 510 474 564 -357"></path>
        </defs>

        <!-- Text that follows the path -->
        <text
          font-size="32"
          fill="currentColor"
          font-weight="600"
          letter-spacing="3"
        >
          <textPath
            href="#arcDondeSiempreSopla"
            startOffset="50%"
            text-anchor="middle"
            class="font-salted text-brand-blue"
          >
            DONDE SIEMPRE SOPLAAA
          </textPath>
        </text>
      </svg>
    </div>
  </div>
</section>
