---
import { Image } from "astro:assets";
import cursos from "../assets/cursos.jpeg";
import kiteCamp from "../assets/kite-camps.jpeg";
import rental from "../assets/rental.jpeg";
import { useTranslations } from "../i18n/utils";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const services = [
  {
    title: t("services.courses.title"),
    summary: t("services.courses.summary"),
    image: cursos,
    link: "/",
  },
  {
    title: t("services.kitecamps.title"),
    summary: t("services.kitecamps.summary"),
    image: kiteCamp,
    link: "/",
  },
  {
    title: t("services.rental.title"),
    summary: t("services.rental.summary"),
    image: rental,
    link: "/",
  },
  {
    title: t("services.tours.title"),
    summary: t("services.tours.summary"),
    image: cursos,
    link: "/",
  },
];
---

<section class="relative z-30 bg-brand-brown-mid px-4 md:px-10 py-16">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-6">
    {
      services.map((service, index) => (
        <div class="group relative bg-brand-brown-mid border border-brand-brown-light rounded-xl overflow-hidden hover:border-brand-blue transition-colors duration-300">
          <div class="relative h-48 w-full overflow-hidden">
            <Image
              src={service.image || "/placeholder.svg"}
              alt={service.title}
              class="object-cover transition-transform duration-500 group-hover:scale-105"
            />
            <div class="absolute inset-0 bg-linear-to-t from-brand-brown-mid to-transparent" />
            <h3 class="text-2xl font-bold text-foreground mb-4 text-brand-brown-light absolute bottom-0 left-8">
              {service.title}
            </h3>
          </div>

          <div class="p-8 pt-4">
            <p class="text-white leading-relaxed">{service.summary}</p>

            <div class="flex justify-end mt-6">
              <button class="px-6 py-2 bg-brand-brown-light rounded-4xl">
                VER MÁS
              </button>
            </div>
          </div>
        </div>
      ))
    }
  </div>
</section>
