---
import { Image } from "astro:assets";
import theSpotPhoto from "../assets/the-spot-photo.svg";
import SunAndMountain from "./svg/sun-and-mountain.astro";
import { useTranslations } from "../i18n/utils";
import TheSpotTopSeparator from "./svg/the-spot-top-separator.astro";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<section>
  <div class="text-brand-red">
    <TheSpotTopSeparator />
  </div>

  <div class="bg-brand-red py-20">
    <div class="relative max-w-6xl mx-auto px-4 lg:px-10">
      <div
        class="hidden md:block absolute lg:right-4 xl:-right-[50px] bottom-2 w-[150px] h-[150px] z-30 text-white"
      >
        <SunAndMountain />
      </div>

      <div class="py-10">
        <h2 class="uppercase font-salted text-5xl text-center">
          {t("the-spot.title")}
        </h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-5 place-items-center gap-8">
        <div class="md:col-span-3 w-full h-full">
          <Image
            src={theSpotPhoto}
            alt="Cuesta del Viento"
            class="w-full object-cover"
            fetchpriority="auto"
          />
        </div>

        <div class="md:col-span-2 space-y-6 px-4 md:px-0">
          <p class="text-lg text-pretty">
            {t("the-spot.summary")}
          </p>

          <div class="flex flex-col gap-3 items-start justify-center">
            <a
              href={`/${lang}/cuesta-del-viento`}
              class="bg-white font-bold px-6 py-2 text-brand-red rounded-4xl hover:bg-brand-blue hover:text-white transition-colors duration-200"
            >
              {t("the-spot.button.discover")}
            </a>

            <a
              href={`/${lang}/allies`}
              class="bg-white font-bold px-6 py-2 text-brand-red rounded-4xl hover:bg-brand-blue hover:text-white transition-colors duration-200"
            >
              {t("the-spot.button.benefits")}
            </a>

            <a
              href={`/${lang}/cuesta-del-viento`}
              class="bg-white font-bold px-6 py-2 text-brand-red rounded-4xl hover:bg-brand-blue hover:text-white transition-colors duration-200"
            >
              {t("the-spot.button.how-to-get")}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
