---
import { useTranslations } from "../../../i18n/utils";
import ServicesLayout from "../../../layouts/services-layout.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<ServicesLayout>
  <Fragment slot="header">
    <div class="max-w-6xl mx-auto pb-30">
      <div class="space-y-8 text-white text-2xl">
        <p>
          Aprender con FAUNA es mucho más que aprender Kite o WingFoil: es vivir
          una experiencia completa, en contacto con la naturaleza y rodeado de
          buena energía.
        </p>

        <p>
          Enseñamos con equipos de última generación, estrictos protocolos de
          seguridad y un enfoque 100% personalizado, adaptando cada clase a tu
          ritmo y nivel. Te acompañamos en todo momento para que aprendas, y
          progreses con seguridad, pero sobre todo: divirtiéndote en el camino.
        </p>

        <p>
          Finalizado el curso, la historia no termina, es ahí donde empieza.
          Elegir aprender con FAUNA significa ser parte de nuestra comunidad: un
          grupo de amigos que comparten la pasión por el viento, los viajes y la
          aventura. Vas a acceder a beneficios y descuentos exclusivos, tanto en
          equipamiento como en clases avanzadas, invitaciones a eventos y kite
          camps, viajes, y más.
        </p>
      </div>
    </div>
  </Fragment>

  <div class="px-10 space-y-40 pt-10">
    <div class="flex items-start">
      <div class="basis-[33%]">
        <h2 class="text-4xl text-brand-blue font-bold">Cursos de Kite</h2>
      </div>
      <div class="basis-[66%] px-10">
        <!-- CURSOS -->
        <div class="space-y-14">
          <!-- CURSO INICIAL -->
          <div class="text-brand-blue flex gap-10">
            <div class="relative basis-[33%] flex overflow-hidden">
              <img
                src="https://images.pexels.com/photos/10087765/pexels-photo-10087765.jpeg?_gl=1*1prvhrg*_ga*MTk3MDY0MTc3NS4xNzY2MDA1OTE5*_ga_8JE65Q40S6*czE3NjYwNjUyMjkkbzIkZzEkdDE3NjYwNjUyODMkajYkbDAkaDA."
                class="absolute inset-0 rounded-md filter-bluish-dark w-full h-full"
              />
            </div>

            <div class="basis-[66%]">
              <h2 class="font-bold text-2xl pb-2">Curso Inicial</h2>
              <div class="space-y-1">
                <p><strong>Duración:</strong> 3 días - 9hs de clase</p>
                <p><strong>Nivel:</strong> Principiante</p>
                <p><strong>Modalidad:</strong> Individual o Doble</p>
              </div>
              <div class="space-y-2 pt-2">
                <p>
                  Tu primera experiencia con el viento. Ideal para quienes nunca
                  probaron el kite o apenas dieron sus primeros pasos.
                </p>
                <p>
                  En 3 días vas a aprender: a entender el viento, cómo funciona
                  el equipo y sus medidas de seguridad, cómo controlar el kite y
                  utilizarlo para desplazarte en el agua, relanzarlo, levantarte
                  y navegar tus primeros metros sobre la tabla y volver con
                  seguridad.
                </p>
                <p>
                  El objetivo: que te conviertas en un kiter independiente,
                  capaz de entrar, practicar y salir del agua de manera segura y
                  autónoma.
                </p>
                <p>
                  En promedio, 9 horas es lo que se necesita para ser
                  independiente.
                </p>
                <p>
                  Este curso podés tomarlo de manera individual o doble
                  (compartido con un amigo o familiar) siempre y cuando tengan
                  pesos similares. Consultanos para más información.
                </p>
              </div>
            </div>
          </div>

          <!-- CURSO INTENSIVO -->
          <div class="text-brand-blue flex gap-10">
            <div class="relative basis-[33%] flex overflow-hidden">
              <img
                src="https://images.pexels.com/photos/18555969/pexels-photo-18555969.jpeg?_gl=1*erz5t8*_ga*MTk3MDY0MTc3NS4xNzY2MDA1OTE5*_ga_8JE65Q40S6*czE3NjYwNjUyMjkkbzIkZzEkdDE3NjYwNjU0NzgkajUxJGwwJGgw"
                class="rounded-md filter-bluish-dark absolute inset-0 w-full h-full"
              />
            </div>

            <div class="basis-[66%]">
              <h2 class="font-bold text-2xl pb-2">Curso Intensivo</h2>
              <div class="space-y-1">
                <p><strong>Duración:</strong> 2 días - 6hs de clase</p>
                <p><strong>Nivel:</strong> Principiante o Intermedio</p>
                <p><strong>Modalidad:</strong> Individual</p>
              </div>
              <div class="space-y-2 pt-2">
                <p>
                  Ideal si no tenés mucho tiempo y querés aprovecharlo al
                  máximo. Este curso, también está pensado para quienes ya
                  tomaron algunas clases antes o tienen experiencia en otros
                  deportes de viento.
                </p>
                <p>
                  En pocas sesiones concentradas te enseñamos las bases para que
                  entiendas cómo funciona todo: el viento, seguridad, control de
                  kite, potencia, dirección y navegar sobre la tabla.
                </p>
                <p>
                  El objetivo: que te conviertas en un kiter independiente,
                  capaz de entrar, practicar y salir del agua de manera segura y
                  autónoma.
                </p>
                <p>
                  El objetivo: Que aprendas lo fundamental del deporte y puedas
                  comenzar a practicarlo de manera segura y autónoma.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="flex items-start">
      <div class="basis-[33%]">
        <h2 class="text-4xl text-brand-blue font-bold">
          Clases de Kite & Wingfoil
        </h2>
      </div>
      <div class="basis-[66%] px-10">
        <div class="space-y-14">
          <!-- CLASE INDIVIDUAL -->
          <div class="text-brand-blue flex gap-10">
            <div class="basis-[33%] relative flex overflow-hidden">
              <img
                src="https://images.unsplash.com/photo-1578060124065-41f863eb9ebe?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="rounded-md filter-bluish-dark absolute inset-0 w-full h-full object-cover"
              />
            </div>

            <div class="basis-[66%]">
              <h2 class="font-bold text-2xl pb-2">Clase Individual</h2>
              <div class="space-y-1">
                <p><strong>Duración:</strong> 1 o 2 horas</p>
                <p><strong>Nivel:</strong> Intermedio o Avanzado</p>
              </div>
              <div class="space-y-2 pt-2">
                <p>
                  Ideal para quienes ya completaron el curso y aún necesitan una
                  mano para lograr sentirse seguros o ser independientes en al
                  agua. (Asistencia)
                </p>
                <p>
                  También, para quienes ya navegan y quieren progresar: mejorar
                  su riding, ceñida (ir upwind con facilidad), aprender
                  transiciones o perfeccionar tu estilo.
                </p>
              </div>
            </div>
          </div>

          <!-- CLASE AVANZADA -->
          <div class="text-brand-blue flex gap-10">
            <div class="basis-[33%] relative flex overflow-hidden">
              <img
                src="https://images.unsplash.com/photo-1620152174993-40a74a7e24c2?q=80&w=1364&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="rounded-md filter-bluish-dark absolute inset-0 w-full h-full object-cover"
              />
            </div>

            <div class="basis-[66%]">
              <h2 class="font-bold text-2xl pb-2">Clase Avanzada</h2>
              <div class="space-y-1">
                <p><strong>Duración:</strong> 1 o 2 horas</p>
                <p><strong>Nivel:</strong> Avanzado</p>
              </div>
              <div class="space-y-2 pt-2">
                <p>
                  Si ya dominás el kite y querés llevarlo al siguiente nivel, te
                  ayudamos a volar más alto, con más control y con más estilo.
                  Desaprendiendo malos hábitos, trabajando en la técnica fuera y
                  dentro del agua, practicando el enfoque y atravesando miedos.
                </p>
                <p>
                  En la vida de todo kiter llega un punto en el que nos sentimos
                  “estancados”, que hacemos siempre lo mismo y estamos trabados
                  en nuestro progreso. Te acompañamos a desbloquear algunos
                  miedos y trabas, ganando confianza con práctica segura y
                  adecuada a tus objetivos, respetando las condiciones y
                  manteniendo el foco.
                </p>
                <p>
                  Aprendé: a saltar con técnica, a hacer maniobras, rotaciones,
                  kite-loops, aterrizajes suaves y controlados.
                </p>
                <p>
                  Esta clase puede ser grabada en video para analizarla luego en
                  tierra y así entender y corregir los errores.
                </p>
              </div>
            </div>
          </div>

          <!-- CLASE DE PRUEBA -->
          <div class="text-brand-blue flex gap-10">
            <div class="basis-[33%] relative flex overflow-hidden">
              <img
                src="https://images.unsplash.com/photo-1627988114935-406dadb71002?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="rounded-md filter-bluish-dark absolute inset-0 w-full h-full object-cover"
              />
            </div>

            <div class="basis-[66%]">
              <h2 class="font-bold text-2xl pb-2">Clase de Prueba</h2>
              <div class="space-y-1">
                <p><strong>Duración:</strong> 2 horas</p>
                <p><strong>Nivel:</strong> Cualquiera</p>
              </div>
              <div class="space-y-2 pt-2">
                <p>
                  ¿Querés ver de qué se trata antes de comprometerte a tomar el
                  curso?
                </p>
                <p>
                  Probá una clase corta donde vas a aprender brevemente sobre el
                  viento, las medidas de seguridad del equipo y vas a entrar al
                  agua a sentir el viento, jugar un poco con el kite o el wing
                  mientras aprendés a controlarlo y descubrir por qué todos se
                  enamoran de estos deportes.
                </p>
              </div>
            </div>
          </div>

          <!-- CLASE DE WINGFOIL -->
          <div class="text-brand-blue flex gap-10">
            <div class="basis-[33%] relative flex overflow-hidden">
              <img
                src="https://images.unsplash.com/photo-1666175497565-1c366074f2b2?q=80&w=987&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                class="rounded-md filter-bluish-dark absolute inset-0 w-full h-full object-cover"
              />
            </div>

            <div class="basis-[66%]">
              <h2 class="font-bold text-2xl pb-2">Clase de Wingfoil</h2>
              <div class="space-y-2">
                <p>El wing foil es libertad pura.</p>
                <p>
                  Una combinación perfecta entre viento, equilibrio y conexión
                  con el agua. No hay motor, ni cuerdas, ni ruido: solo vos, el
                  ala y el viento empujándote a volar.
                </p>
                <p>
                  En FAUNA te enseñamos desde cero, con equipos de última
                  generación, acompañamiento personalizado y protocolos de
                  seguridad que garantizan una experiencia segura y divertida.
                </p>
                <p>
                  Cada clase es adaptada a tu ritmo y a tus objetivos, para que
                  progreses disfrutando.
                </p>
                <p>
                  Podés tomar el curso inicial completo en 3 días (9hs de
                  clase); un curso intensivo de 2 días (6hs de clase); o bien,
                  tomar clases individuales o solo hacer una clase de prueba.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ServicesLayout>
