---
import { useTranslations } from "../../../i18n/utils";
import ServicesLayout from "../../../layouts/services-layout.astro";
import Rental1Photo from "../../../assets/rental/rental-1.webp";
import Rental2Photo from "../../../assets/rental/rental-2.webp";
import Rental3Photo from "../../../assets/rental/rental-3.webp";
import Rental4Photo from "../../../assets/rental/rental-4.webp";
import { Image } from "astro:assets";
import { CarouselWithBreakpoints } from "../../../components/spot/spot-carousel";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const brands = [
  { image: "https://primesurf.com/wp-content/uploads/2023/01/WHITE-CORE.svg" },
  { image: "https://primesurf.com/wp-content/uploads/2023/01/WHITE-DTK.svg" },
  {
    image:
      "https://slingshotsports.com/cdn/shop/files/ss-logo-white.png?v=1652123243&width=360",
  },
];

const images = [
  {
    src: Rental1Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
  {
    src: Rental2Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
  {
    src: Rental3Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
  {
    src: Rental4Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
];
---

<ServicesLayout>
  <div class="max-w-7xl mx-auto py-10 md:py-20">
    <div
      class="flex flex-col md:flex-row items-start text-brand-blue text-xl gap-20 py-10 px-4"
    >
      <div class="md:basis-[60%] space-y-4">
        <p>
          ¿Ya sabés navegar pero todavía no tenés tu propio equipo? ¿Venís a
          Cuesta del Viento y necesitás una medida más pequeña?
        </p>
        <p>
          No te preocupes, en Fauna contamos con material de última generación
          para todas las medidas y condiciones.
        </p>
        <p>Trabajamos con Slingshot, Core y Duotone.</p>
        <p>Podés alquilar equipo completo o solo kite y barra (o wing).</p>
        <p>Ofrecemos rental diario o packs de varios días.</p>

        <div class="flex items-center flex-wrap justify-center gap-10 py-10">
          {
            brands.map((brand) => (
              <img src={brand.image} alt="" class="max-h-14" />
            ))
          }
        </div>
      </div>

      <div class="md:basis-[40%]">
        <p>
          <strong>Requisitos:</strong> Ser independiente, ceñir y mantenerse upwind
          con facilidad, y saber hacer una maniobra de auto-rescate. (Si no es tu
          caso, o no te sentís seguro, consultanos para tomar una asistencia + rental
          con supervisión.)
        </p>
      </div>
    </div>

    <div
      class="flex flex-col gap-10 md:flex-row items-center justify-between py-10 px-4"
    >
      <CarouselWithBreakpoints client:load images={images} />
    </div>
  </div>
</ServicesLayout>
