---
import { useTranslations } from "../../../i18n/utils";
import ServicesLayout from "../../../layouts/services-layout.astro";
import Rental1Photo from "../../../assets/what-we-offer/rental/rental-1.webp";
import Rental2Photo from "../../../assets/what-we-offer/rental/rental-2.webp";
import Rental3Photo from "../../../assets/what-we-offer/rental/rental-3.webp";
import Rental4Photo from "../../../assets/what-we-offer/rental/rental-4.webp";
import { CarouselWithBreakpoints } from "../../../components/spot/spot-carousel";
import Core from "../../../components/svg/core.astro";
import Duotone from "../../../components/svg/duotone.astro";
import Slingshot from "../../../components/svg/slingshot.astro";

export async function getStaticPaths() {
  return [{ params: { locale: "en" } }, { params: { locale: "es" } }];
}

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);

const images = [
  {
    src: Rental1Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
  {
    src: Rental2Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
  {
    src: Rental3Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
  {
    src: Rental4Photo.src,
    alt: "Fauna Kite Kitesurf Equipment",
  },
];
---

<ServicesLayout>
  <Fragment slot="header">
    <div class="max-w-6xl mx-auto pb-30">
      <div class="space-y-8 text-white text-lg md:text-xl px-4">
        <p>
          {t("services.rental.header.p1")}
        </p>
      </div>
    </div>
  </Fragment>

  <div class="max-w-7xl mx-auto pb-20">
    <div
      class="max-w-4xl mx-auto flex items-center justify-center gap-12 py-4 md:py-10 px-4"
    >
      <Core />
      <Duotone />
      <Slingshot />
    </div>

    <div
      class="flex flex-col md:flex-row items-start text-brand-blue text-xl gap-20 py-10 px-4"
    >
      <div class="md:basis-[60%] space-y-4">
        <p>
          {t("services.rental.content.p1")}
        </p>
        <p>{t("services.rental.content.p2")}</p>
        <p>{t("services.rental.content.p3")}</p>
        <p>{t("services.rental.content.p4")}</p>
      </div>

      <div class="md:basis-[40%] space-y-8">
        <p>
          <strong>{t("services.rental.requirements")}:</strong>
          {t("services.rental.requirements.p1")}
        </p>

        <div class="flex justify-center w-full">
          <a
            target="_blank"
            rel="noopener noreferrer"
            class="whatsapp-btn text-center bg-brand-red text-white w-full text-base px-6 py-2 font-bold rounded-2xl"
          >
            {t("services.rental.cta.button")}
          </a>
        </div>
      </div>
    </div>

    <div
      class="flex flex-col gap-10 md:flex-row items-center justify-between py-10 px-4"
    >
      <CarouselWithBreakpoints client:load images={images} />
    </div>
  </div>
</ServicesLayout>

<script>
  import { initializeWhatsAppButton } from "../../../modules/utils/whatsapp";

  document.addEventListener("astro:page-load", () => {
    initializeWhatsAppButton(".whatsapp-btn", "");
  });
</script>
