---
import Nav from "../../components/nav.astro";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Cuesta del Viento">
  <header>
    <Nav />
  </header>

  <main class="pt-20">
    <div
      class="relative h-[calc(100dvh_-_80px)] w-full bg-red-200 flex items-center justify-between"
    >
      <div class="z-0 left-0 bottom-0 absolute w-full h-full">
        <img
          src="https://dynamic-media-cdn.tripadvisor.com/media/photo-o/19/e0/cd/62/canon-du-rio-jachal-et.jpg?w=1200&h=-1&s=1"
          class=".image-filter w-full h-full object-cover"
        />
      </div>
      <div
        class="absolute inset-0 bg-gradient-to-b from-brand-blue/70 via-brand-blue/50 to-brand-blue"
      >
      </div>

      <div class="relative z-20 max-w-4xl mx-auto">
        <div class="space-y-6">
          <h1 class="text-6xl text-center font-bold">CUESTA DEL VIENTO</h1>
          <h2 class="text-center text-2xl">Un lugar distinto a todo.</h2>
        </div>

        <section class="">
          <div
            class="space-y-4 pt-32 pb-10 text-lg md:text-xl text-[#fff] leading-relaxed mb-8 text-pretty"
          >
            <p>
              En el corazón de la precordillera, a 2 horas de la Ciudad de San
              Juan, entre montañas áridas que parecen no tener fin, se encuentra
              <span class="text-brand-green">Cuesta del Viento</span>: Un lago
              rodeado de cerros rojizos donde el viento tiene una presencia
              imponente. Para muchos, <span class="text-brand-green"
                >uno de los mejores spots del mundo</span
              > para hacer kite.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="max-w-4xl mx-auto">
      <p>
        Quienes lo visitan por primera vez lo dicen siempre: “Siento que estoy
        en otro planeta”. Y algo de eso hay. Las montañas cambian de color con
        el pasar del día, las noches se cubren de estrellas que parecen estar al
        alcance de las manos, y el viento, el principal protagonista llega casi
        cada día, puntual, y junto con él navegantes y viajeros de todas partes.
        Este escenario mágico, la energía del lugar y una comunidad que te
        recibe con los brazos abiertos, son difíciles de explicar si no las
        vivís.
      </p>

      <h2>El Viento</h2>
      <p>
        Donde siempre sopla: El dique cuesta el viento reporta más de 300 días
        de viento al año y durante los meses de octubre a mayo, Cuesta del
        Viento no falla. Esto hace que Cuesta del Viento sea uno de los lugares
        más confiables de Sudamérica a la hora de aprender, progresar o
        simplemente disfrutar de largas sesiones en el agua.
      </p>
      <p>
        Los vientos térmicos llegan casi todos los días. En un día promedio, se
        levanta sobre el mediodía, iniciando suave y amigable durante algunas
        horas, ideal para quienes están aprendiendo o quieran disfrutar una
        sesión de viento más amigable.
      </p>

      <p>
        Con el pasar de las horas, el viento va aumentando su fuerza: llega el
        momento de disfrute para aquellos que ya tienen un poco más experiencia.
        En condiciones regulares, varía entre 20 y 35 nudos. Llegado el
        atardecer, que en diciembre y enero sucede luego de las 21hs, el viento
        aún sopla creando un escenario de velas y colores increíbles sobre las
        montañas.
      </p>

      <p>
        Es el sueño de todo kiter: viento asegurado, un paisaje único que te
        deja sin palabras y una comunidad amigable que vive el kitesurf con
        mucha pasión y siempre dispuesta a algún plan después de navegar.
      </p>

      <p>
        Más que kite Rodeo y sus alrededores ofrecen experiencias para todos los
        gustos: • Caminatas por los cerros y miradores con vistas al dique •
        Escalada, mountain bike y senderismo. • Stand Up Paddle o kayak por las
        mañanas. • Restaurantes de gastronomía local. • Experiencias guiadas de
        observación de estrellas y fenómenos astrológicos. • Bares con noches de
        música y shows de entretenimiento. La zona combina naturaleza,
        tranquilidad y buena energía —todo lo necesario para vivir unos días de
        conexión total.
      </p>

      <p>
        Cómo llegar Cuesta del Viento se encuentra en el departamento de
        Iglesia, provincia de San Juan, a unos 180 km al noroeste de la ciudad
        capital. Para llegar, hay distintas opciones dependiendo de dónde
        vengas. 🚗 Desde San Juan: A unas 2 horas en auto o 4 en bus hacia el
        norte por la Ruta 40 y luego la Ruta 149 por Iglesia o seguir hasta la
        Ruta 150 pasando por Jáchal. (Tip: Si viajás solo, los fines de semana
        siempre hay kiters viajando a Rodeo con lugar disponible y ganas de
        compartir el viaje. Escribinos y te damos una mano.) 🚗 Desde Mendoza:
        Son unas 4 horas en auto o 6-7 hs en bus (no hay uno directo, deberías
        hacer conexión en San Juan). 🚗 Desde Córdoba: Unas 8 horas de viaje en
        auto, pasando por Villa Dolores y Jáchal hasta llegar a Rodeo. Todo el
        camino está asfaltado y ofrece vistas increíbles de la cordillera. 🚗
        Desde Buenos Aires u otras provincias. Podés volar a San Juan Capital o
        a Mendoza y desde ahí continuar en auto o bus hasta Rodeo. Si preferís
        manejar, el viaje completo son unos 1.200 km —aprox. 15 horas por Ruta 7
        y luego Ruta 150.
      </p>

      <h3>Recomendaciones</h3>
      <p>
        Independientemente del transporte que elijas para llegar, te
        recomendamos algún tipo de movilidad en el lugar. Algunos alojamientos
        ofrecen servicios de traslado al dique o bicicletas. Si no vas a tener
        movilidad, ideal hospedarte cerca del spot.
      </p>

      <h3>Que Llevar</h3>
      <p>
        Durante las clases te damos todo el equipo necesario —traje de neoprene,
        chaleco y casco—, así que solo necesitás traer lo básico: • Ropa cómoda
        • Toalla, traje de baño y sandalias • Protector solar, lentes de sol y
        gorra • Abrigo para las noches (Incluso en verano, por las noches puede
        refrescar bastante) Zapas cómodas por si te copa alguna caminata o salir
        a correr en las mañanas. • Mate, agua y buena onda 🌬️
      </p>

      <p>
        Si tenés tu traje de neoprene propio, un 4/3 largo es ideal, o 3/2 en en
        diciembre y enero.
      </p>
    </div>
  </main>
</Layout>
