---
import { useTranslations } from "../../i18n/utils";
import BrushStain from "../../components/svg/newsletter-background.astro";
import { Image } from "astro:assets";
import desktopHeroImage from "../../assets/hero/hero-desktop.webp";
import mobileHeroImage from "../../assets/hero/hero-mobile.webp";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<section
  class="relative h-dvh w-full flex items-center px-0 md:px-20 bg-brand-blue"
>
  <div class="absolute inset-0">
    <Image
      src={mobileHeroImage}
      alt="Header background"
      fetchpriority="high"
      class="w-full h-full md:hidden object-cover object-[80%_50%]"
      widths={[400, 600]}
      sizes="(max-width: 768px) 100vw, 0px"
      quality={95}
      format="webp"
    />
  </div>

  <!-- Mobile Overlay (hidden on md and up) -->
  <div class="absolute inset-0 md:hidden bg-brand-blue/30"></div>
  <div
    class="absolute bottom-0 w-full h-[100px] md:hidden bg-linear-to-b from-transparent to-brand-blue"
  >
  </div>

  <div
    class="relative z-20 space-y-8 md:space-y-4 flex flex-col justify-between px-4 h-[calc(100dvh-80px)] pt-20 md:pt-0 md:h-auto"
  >
    <div class="max-w-4xl mx-auto">
      <div class="font-bold tracking-tight text-balance">
        <span
          class="relative z-30 block text-4xl md:text-5xl uppercase lg:text-6xl"
        >
          {t("hero.title.white")}
        </span>

        <div
          class="relative text-brand-red block text-shadow-2xs text-shadow-brand-blue"
        >
          <span class="relative font-salted text-5xl md:text-7xl">
            <span
              class="absolute inset-0 pointer-events-none z-0"
              aria-hidden="true"
            >
              <BrushStain class="w-full h-full text-celeste-2 scale-y-75" />
            </span>

            <span class="relative z-10 pr-10">
              {t("hero.title.red")}
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <!-- DESKTOP Background Image  -->
  <div
    class="absolute inset-0 z-10 bg-linear-to-r from-brand-blue/50 to-transparent"
  >
  </div>

  <div class="absolute inset-0">
    <Image
      src={desktopHeroImage}
      alt="Header background"
      fetchpriority="high"
      class="w-full h-full z-0 md:block hidden object-cover"
      widths={[1920, 2400, 3000]}
      sizes="100vw"
    />
  </div>
</section>
