---
import { useTranslations } from "../../i18n/utils";
import BrushStain from "../../components/svg/newsletter-background.astro";

const lang = Astro.params.locale as "en" | "es";
const t = useTranslations(lang);
---

<section class="relative h-dvh w-full flex items-center px-20 bg-brand-blue">
  <!-- Mobile Background Image (hidden on md and up) -->
  <div
    class="absolute inset-0 md:hidden bg-no-repeat bg-position-[center_right_20%] bg-cover"
    style="background-image: url('/hero-mobile-2.webp');"
  >
  </div>

  <!-- Mobile Overlay (hidden on md and up) -->
  <div class="absolute inset-0 md:hidden bg-brand-blue/50"></div>
  <div
    class="absolute bottom-0 w-full h-[100px] md:hidden bg-linear-to-b from-transparent to-brand-blue"
  >
  </div>

  <div
    class="relative z-20 space-y-8 md:space-y-4 flex flex-col justify-between px-4"
  >
    <div class="max-w-4xl mx-auto">
      <div
        class="font-bold text-4xl md:text-5xl lg:text-6xl tracking-tight text-balance font-helvetica"
      >
        <!-- {t("hero.title")} -->
        <span class="block"> MÁS QUE UNA ESCUELA </span>
        <div
          class="relative text-brand-red block text-shadow-2xs text-shadow-brand-blue"
        >
          <div
            class="absolute inset-0 pointer-events-none z-0"
            aria-hidden="true"
          >
            <BrushStain class="w-full h-full text-celeste-2" />
          </div>

          <span class="relative z-10"> UNA COMUNIDAD DE VIENTOS </span>
        </div>
      </div>
    </div>

    <p
      class="lg:text-xl text-white/95 text-shadow-2xs text-shadow-brand-blue max-w-2xl text-pretty pb-14 leading-relaxed md:pb-0"
    >
      {t("hero.subtitle")}
    </p>
  </div>

  <!-- DESKTOP Background Image  -->
  <div
    class="absolute inset-0 z-10 bg-linear-to-r from-brand-blue/50 to to-transparent"
  >
  </div>
  <div
    class="absolute inset-0 z-0 md:block hidden bg-no-repeat bg-right bg-cover"
    style="background-image: url('/hero-desktop-2.jpeg');"
  >
  </div>
</section>
