@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue-light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src: url("/fonts/helvetica-neue-bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT-America";
  src: url("/fonts/gt-america.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Salted";
  src: url("/fonts/salted-regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --color-brand-blue: #051d26;
  --color-brand-green: #496807;
  --color-brand-brown-light: #a96300;
  --color-brand-brown-mid: #3c2005;
  --color-brand-orange: #9d3400;

  --color-card: #030608;
  --color-border: oklch(0.25 0.01 220);

  --color-dorado: #9f7618;

  --color-celeste-1: #00252c;
  --color-celeste-2: #475459;
  --color-celeste-3: #5a7e8c;
  --color-brand-light: #d7f9f9;
  --color-brand-red: #f24535;
  /* --color-brand-red: #9d3400; */

  --shadow-news-card: 10px 10px 0px 1px rgba(0, 0, 0, 0.05);

  --font-gt:
    "GT-America", "Helvetica Neue", ui-sans-serif, system-ui, sans-serif;
  --font-helvetica: "Helvetica Neue", ui-sans-serif, system-ui, sans-serif;
  --font-salted: "Salted", cursive, ui-serif;
}

.filter-bluish-dark {
  filter: hue-rotate(20deg) saturate(1.15) brightness(0.9) contrast(1.1);
}
